@import url('header.css');
@import url('reset.css');

:root {
    --clarksgold: hsl(39, 97%, 65%);
    --grisbg: hsl(0, 0%, 95%);
    --cyan: hsl(180, 68%, 65%);
    --limebg: hsl(101, 98%, 76%);
    --banana-creme: hsl(54, 100%, 92%);
    --fusha: hsl(283, 97%, 66%);
    --rosada-custom: hsl(344, 92%, 85%);
    --blanco: hsl(180, 100%, 100%);
    --rojo: hsl(0, 100%, 50%);
    --naranja: hsl(39, 100%, 50%);
    --amarillo: hsl(60, 100%, 50%);
    --negro: hsl(0, 0%, 0%);
    --charcoal: hsl(232, 6%, 25%);
    --hulk: hsl(133, 22%, 21%);
    --soot: hsl(0, 0%, 40%);
    --sashagrey: hsl(0, 0%, 83%);
    --azulyoscuro: hsl(215, 59%, 53%);
    --testcolor: hsl(330, 100%, 71%);
    --variable10: #333333;
    --faintgrey: hsl(0, 0%, 80%);
    --modalBackground: hsla(0, 0%, 0%, 0.7);
    --salmon: hsl(10, 100%, 80%);
    --mobileNavBg: hsl(0, 0%, 20%);
    --greyShade: hsl(0, 0%, 26%);
    --greyShade0: hsl(0, 0%, 52%);
    --darkCharcoal: hsl(0, 0%, 16%);
    --endeed-dark-ensign: #2557A7;
    --endeed-grey: #6F6F6F;
    --endeed-dark-grey: #595959;
    --endeed-negro: #2C2C2C;
    --endeed-light-rosa: #FCEEF4;
    --endeed-dark-rosa: #9D2B6B;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--blanco);
}

.header {
    margin: 0 0 30px;
    background-color: var(--cyan);
    padding: 20px;
}

.header__link {
    margin: 0 10px 0;
    text-transform: capitalize;
}

.home h2 {
    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--endeed-negro);
}

.danger-message {
    background-color: #FF7F7F;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.success-message {
    background-color: #90EE90;
    margin: 20px 0 20px 0;
    color: white;
    padding: 0.3rem;
}

.invisible {
    display: none;
}